input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#searchList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 600px;
  overflow: hidden;
}

#searchList:hover, #searchList:active, #searchList:focus {
  overflow-y: auto;
}

#home {
  float: right;
}

#addedSkinsList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#outcomesArea {
  width: 100%;
}

.marginleft1 {
  margin-left: 1%;
}

.marginright1 {
  margin-right: 1%;
}

.flex1 {
  flex: 1;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.spacer {
  flex: 1;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}

.margin {
  margin-top: -1px;
  margin-bottom: -1px;
  margin-right: -1px;
}

.floats {
  font-size: 14px;
  width: 50%;
}

.consumer {
  background-color: #c0c0c0;
  border: 1px solid black;
}

.industrial {
  background-color: #99ccff;
  border: 1px solid black;
}

.mil-spec {
  background-color: #0000ff;
  border: 1px solid #adadad;
  color: #adadad;
}

.restricted {
  background-color: #800080;
  border: 1px solid black;
}

.classified {
  background-color: #ff00ff;
  border: 1px solid black;
}
