<div class="row">
  <div class="column">
    <input placeholder="Search for a skin" v-model="searchTerm" autofocus/>
    <ul id="searchList">
      <li :class="[item.hidden ? 'hidden' : 'flex']" v-for="item in skins">
        <button :disabled="item.disabled" :class="[item.rarity, 'margin']" @click="addSkin(item.index)">+</button>
        <span :class="[item.rarity, 'margin']">{{item.skin}}</span>
      </li>
    </ul>
  </div>

  <div class="column marginleft1 flex1">
    <div class="row">
      <button id="go" @click="go">Go</button>
      <button id="resetAll" @click="resetAll">Reset All</button>
    </div>

    <ul id="addedSkinsList">
      <li class="flex" v-for="(item, index) in addedSkins">
        <button :class="['flex', item.rarity, 'margin']" @click="removeSkin(index)">-</button>
        <span :class="['flex', item.rarity, 'margin']">{{item.skin}}</span>
        <input class="floats" :placeholder="item.floatPlaceholder" v-model="item.float"/>
      </li>
    </ul>
  </div>

  <div :class="[outcomesHidden ? 'hidden' : 'flex1', 'marginleft1', 'marginright1']">
    <textarea id="outcomesArea" rows="30" v-model="outcomes"></textarea>
  </div>

  <div :class="[outcomesHidden ? 'flex1' : 'flex']">
    <router-link id="home" to="/home">Home</router-link>
  </div>
</div>
