input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.container {
  display: flex;
}

.container > div {
  display: flex;
}

#bookmarklet {
  width: 12%;
  align-items: center;
  justify-content: center;
}
