<div class="flex row">
  <div class="column">
    <h1 class="margin0">Enter Floats</h1>
    <div v-for="skin in skins">
      <input @change="calculate" placeholder="input a float" v-model="skin.float"/>
    </div>
  </div>

  <div class="column vertCent left2">
    <div>
      <div v-for="item in info">
        <h3 class="margin0">{{ item.ph }}</h3>
        <input @change="calculate" v-model="item.entered"/>
      </div>
    </div>
  </div>

  <div class="column vertCent left2">
    <div>
      <div v-for="item in calcs">
        <h2 class="margin0">{{ item.ph }}</h2>
        <input class="w100" v-model="item.comp"/>
      </div>
    </div>
  </div>

  <div class="flex1">
    <router-link id="home" to="/home">Home</router-link>
  </div>
</div>
